name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
        - ruby: "3.0"
          gemfile: Gemfile
          postgres: true
        - ruby: "3.0"
          gemfile: gemfiles/activerecord61.gemfile
          postgres: true
        - ruby: 2.7
          gemfile: gemfiles/activerecord60.gemfile
          postgres: true
        - ruby: 2.6
          gemfile: gemfiles/activerecord52.gemfile
          postgres: true
        - ruby: 2.5
          gemfile: gemfiles/activerecord51.gemfile
          postgres: true
        - ruby: 2.4
          gemfile: gemfiles/activerecord50.gemfile
          postgres: true
        - ruby: "3.0"
          gemfile: Gemfile
          adapter: mysql2
          mysql: true
        - ruby: 2.7
          gemfile: gemfiles/makara3.gemfile
          postgres: true
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - if: ${{ matrix.postgres }}
      uses: ankane/setup-postgres@v1
    - if: ${{ matrix.postgres }}
      run: |
        createdb distribute_reads_test_primary
        createdb distribute_reads_test_replica

    - if: ${{ matrix.mysql }}
      uses: ankane/setup-mysql@v1
    - if: ${{ matrix.mysql }}
      run: |
        mysqladmin create distribute_reads_test_primary
        mysqladmin create distribute_reads_test_replica

    - run: bundle exec rake test
      env:
        ADAPTER: ${{ matrix.adapter || 'postgresql' }}
