name: build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: 3.2
            gemfile: Gemfile
          - ruby: 3.1
            gemfile: Gemfile
          - ruby: "3.0"
            gemfile: gemfiles/activerecord61.gemfile
          - ruby: 2.7
            gemfile: gemfiles/activerecord60.gemfile
          - ruby: 2.6
            gemfile: gemfiles/activerecord52.gemfile
          - ruby: 2.5
            gemfile: gemfiles/activerecord51.gemfile
          - ruby: 2.4
            gemfile: gemfiles/activerecord50.gemfile
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - uses: ankane/setup-postgres@v1
      - run: |
          createdb distribute_reads_test_primary
          createdb distribute_reads_test_replica
      - run: bundle exec rake test

      - uses: ankane/setup-mysql@v1
      - run: |
          mysqladmin create distribute_reads_test_primary
          mysqladmin create distribute_reads_test_replica
      - if: ${{ matrix.ruby < 3.1 }}
        run: ADAPTER=mysql2 bundle exec rake test
